*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* 
    
    ff = font-family
    fw = font-weight
    fc = font-color
    fhl = font-highlight
    
    */
    --ff-main: 'Montserrat';
    --ff-accent: 'League Spartan', sans-serif;
    --fw-200: 200;
    --fc-magenta: rgb(0, 4, 223);
    --fc-purple: rgb(61, 68, 255);
    --fhl-puple: rgb(124, 112, 255);
}

::-webkit-scrollbar {
    width: 0;
}

::selection {
    color: rgb(14, 0, 0);
    background: rgba(255, 255, 255, 0.502);
    backdrop-filter: blur(4px);
}

html,
body {
    scroll-behavior: smooth;
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    z-index: -3;
}

body {
    min-height: 100vh;
    height: 100vh;
    background: #28000c;
}


/* .background {
    position: absolute;
    inset: 0;
    height: 100%;
    background: url("../imgs/bg.jpg");
    filter: blur(3px);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
} */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: .7rem;
    padding-left: .7rem;
    padding-bottom: .1rem;
    justify-content: space-between;
    background: rgba(36, 36, 36, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px);
    z-index: 4;
}

.header {
    font-family: var(--ff-accent);
    color: var(--fc-purple);
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-block: .9rem;
    animation: flicker 1s linear 0s infinite;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: var(--ff-main);
    padding-left: 10rem;
}

.nav-links li:hover {
    background: rgba(67, 67, 67, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px);
    border-radius: 10px;
}

.nav-links li {
    padding-block: 1rem;
    height: 10.5vh;
}

.nav-links li a {
    font-size: 1.5rem;
    padding-inline: 2rem;
    color: var(--fc-purple);
    text-shadow: 0 0 5px black;
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--fhl-puple);
    text-shadow: 0 0 1.5rem var(--fc-purple);
    text-decoration: underline;
}

.profile {
    width: auto;
    height: 100%;
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0;
}

.profile img {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: .4rem;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: .1rem solid rgb(119, 109, 255);
    z-index: 3;
    cursor: pointer;
}

.icons-button {
    padding: 0;
    margin: 0;
    margin-top: .4rem;
    position: absolute;
    right: 1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    display: block;
    cursor: pointer;
    background: none;
}

.more-icons {
    display: none;
    flex-direction: column;
    font-size: large;
    padding: 0;
    margin: 0;
    margin-top: .4rem;
    position: absolute;
    top: -.2rem;
    right: -.5rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background: rgba(36, 36, 36, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px);
    border: .1rem ridge rgba(124, 119, 255, 0.18);
    border-radius: 10px;
    width: 3.5rem;
    z-index: -3;
    text-align: center;
}

.more-icons li {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    font-family: var(--ff-main);
    padding-block: .5rem;
    text-align: center;
    cursor: pointer;
}

.more-icons li a i {
    margin-left: .5rem;
}

.more-icons li:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur( 4px);
    border-radius: .5rem;
    font-size: 2rem;
}

.more-icons:first-child {
    padding-top: 3.5rem;
}

.more-icons :is(a) {
    color: var(--fc-purple);
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

.more-icons a:hover {
    color: rgb(111, 92, 255);
    text-shadow: 0 0 .5rem var(--fc-purple);
}

.active-menu {
    display: flex;
    margin: 0;
    padding: .5rem;
}

.main-cont {
    padding-inline: 2rem;
    margin: 0;
    margin-top: 35vh;
    max-width: 80vw;
    max-height: 100vh;
    width: 80vw;
    padding-left: 0;
    height: 69vh;
    text-align: justify;
}

.intro {
    position: absolute;
    font-family: var(--ff-main);
    color: white;
    font-size: clamp(2.5rem, 10vw, 7vw);
    margin: 0;
    background-color: rgba(0, 0, 0, 0.539);
    backdrop-filter: blur( 4px);
    mix-blend-mode: exclusion;
    border: 0.01rem ridge rgba(255, 255, 255, 0.256);
    padding: 2rem;
    width: 100vw;
    height: 27vh;
    overflow: hidden;
}

.accents {
    font-family: var(--ff-accent);
    color: var(--fc-magenta);
    text-decoration: none;
}

.accents:hover {
    color: var(--fc-purple);
    text-shadow: 0 0 .1em var(--fhl-puple);
    text-decoration: underline;
    cursor: pointer;
}

.etc {
    color: white;
    padding-block: 3rem;
    background: rgba(36, 36, 36, 0.25);
    border-top: 1em outset rgba(10, 0, 48, 0.477);
    backdrop-filter: blur( 4px);
    font-family: var(--ff-main);
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.divider {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.etc .divider img {
    width: 60vw;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.img-overlay {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.338);
    backdrop-filter: blur(4px);
    overflow: hidden;
    width: 0;
    transition: .5s ease;
}

.img-overlay:hover .overlay {
    width: 100%;
}

.right {
    position: absolute;
    inset: 0;
    left: 100%;
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.338);
    backdrop-filter: blur(4px);
    overflow: hidden;
    width: 0;
    transition: .5s ease;
}

.img-overlay:hover .right {
    width: 100%;
    left: 0;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.overlay-text a {
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
}

.overlay-text a:hover {
    text-decoration: underline;
    color: rgb(141, 0, 0);
}

.etc-head {
    font-size: 3rem;
    text-align: center;
}

.split {
    width: 30vw;
    margin-inline: 2rem;
}

.split h1 {
    font-size: 2rem;
}


/* PARALLAX */

.parallax-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 6rem;
    animation: color-change 2s linear infinite alternate;
}

.parallax-bg img {
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Max Tab */

@media (max-width: 1025px) {
    .nav-links {
        padding-left: 0rem;
    }
    .etc {
        display: block;
        padding-inline: 2rem;
    }
}

@media (max-width: 880px) {
    .nav-links {
        display: none;
    }
    .mobile-menu {
        padding: 0;
        margin: 0;
        position: absolute;
        color: var(--fc-magenta);
        right: 5.7rem;
        z-index: 1;
        top: 21%;
        font-size: 3rem;
        display: block;
        cursor: pointer;
    }
    .mobile-menu::before {
        float: left;
        color: var(--fc-magenta);
        animation: flicker 3s linear infinite alternate;
    }
    .mobile-links {
        display: none;
        flex-direction: column;
        font-size: large;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -.1rem;
        right: -1.5rem;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        background: rgba(36, 36, 36, 0.25);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(4px);
        border: .1rem ridge rgba(13, 0, 255, 0.18);
        border-radius: 10px;
        z-index: -2;
    }
    .mobile-links li {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        padding-left: .5rem;
        width: 100%;
        font-family: var(--ff-main);
        padding-block: .5rem;
        cursor: pointer;
    }
    .mobile-links li:hover {
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur( 4px);
        border-radius: .5rem;
    }
    .mobile-links:first-child {
        padding-top: 3.5rem;
    }
    .mobile-links :is(a) {
        float: right;
        color: var(--fc-purple);
        text-decoration: none;
        font-weight: 400;
    }
    .mobile-links a:hover {
        color: rgb(61, 71, 255);
        text-shadow: 0 0 .5em var(--fhl-puple);
        cursor: pointer;
    }
    .active-menu {
        display: flex;
        margin: 0;
        padding: 1rem;
    }
    .more-icons {
        width: 3.5rem;
    }
    .more-icons li a i {
        margin-left: 0;
    }
    .main-cont {
        height: 75vh;
    }
    .intro {
        text-align: center;
    }
    .etc {
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    .divider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    .split h1 {
        font-size: 2rem;
    }
    .split {
        width: 80vw;
        font-size: 1rem;
    }
    .etc .divider img {
        width: 80vw;
    }
}

@media (max-width: 850px) {
    .intro {
        height: 40vh;
    }
}


/* Min Tab */

@media (min-width: 880px) {
    .mobile-menu,
    .mobile-menu::before {
        display: none;
    }
    .mobile-links {
        display: none;
    }
    .mobile-links :is(a) {
        text-decoration: none;
    }
    .header {
        font-size: 1.7rem;
    }
}

@media (max-width: 380px) {
    .header {
        font-family: var(--ff-accent);
        color: slateblue;
        font-size: 1.5rem;
        font-weight: 400;
        padding-block: 1rem;
    }
    .etc-head {
        font-size: 1.5rem;
        text-align: center;
    }
}


/* ANIMATIONS */

@keyframes flicker {
    0% {
        color: rgb(34, 0, 225);
        text-shadow: 0 0 0 black;
    }
    20% {
        color: rgb(50, 14, 255);
        text-shadow: 0 0 1.5rem var(--fhl-puple);
    }
    40% {
        color: rgb(16, 14, 49);
        text-shadow: 0 0 0 black;
    }
    60% {
        color: rgb(36, 12, 145);
        text-shadow: 0 0 1.5rem var(--fhl-puple);
    }
    80% {
        color: rgb(122, 107, 255);
        text-shadow: 0 0 1.5rem var(--fhl-puple);
    }
    100% {
        color: rgb(22, 14, 49);
        text-shadow: 0 0 0 black;
    }
}

@keyframes color-change {
    0% {
        background: rgb(57, 0, 0);
    }
    100% {
        background: black;
    }
}